<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> <%= title %> </title>
        <link rel="stylesheet" href="create.css">
    </head>

    <body>
        <h1> <%= title %> </h1>
        <%- include("partials/errors.ejs") %>
        <form action="/create" method="post">
            <fieldset>
                <legend>Fill the data Correctly</legend>

                <div class="form-rows">
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name" id="first_name" required>
                </div>

                <div class="form-rows">
                    <label for="last_name">Last Name</label>
                    <input type="text" name="last_name" id="last_name" required>
                </div>

                <div class="form-rows">
                    <label for="dob">DATE OF BIRTH:</label>
                    <input type="date" name="dob" id="dob" required min="18" max="75">
                </div>

                <div class="form-rows">
                    <label for="phone_no">PHONE NUMBER:</label>
                    <input type="tel" name="phone_no" id="phone_no" required minlength="10", maxlength="15">
                </div>

                <div class="form-rows">
                    <label for="email">E-MAIL:</label>
                    <input type="email" name="email" id="email" required>
                </div>

                <div class="form-rows">
                    <label for="bio">BIO:</label>
                    <textarea name="bio" id="bio" placeholder="About the employee"></textarea>
                </div>
            </fieldset>
            <button type="submit">CREATE</button>
        </form>
    </body>
</html>